/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

/* ---------------------------------------------------------------- */

/* Global */
*{
    box-sizing: border-zbox;
    margin: 0;
    padding: 0;
}

:root{
    --background: rgba(255, 144, 14, 0.1);;
    --black1: #131313;
    --black2: #424242;
    --hot-pink: #E02C6D;
    --font-family: 'Poppins', sans-serif;
    --dark-blue: #0A0826;
    --try: 1px solid red;
    --white: white;
    --yellow: #FF900E    ;
    --gray: #6C6C6C;
}

/* ---------------------------------------------------------------- */
/* ----------------------
   Common-Class - Start
------------------------*/

body{
    font-family: 'Work Sans', sans-serif;
}

/* ----------------------
   Common-Class - End
------------------------*/

/* ---------------------------------------------------------------- */

/* ----------------------
   Nav - Bar - Start
------------------------*/

